body {
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-align: center;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;

}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 10vh auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #223943;
    color: #ffdfd0;
    border-bottom: 6px solid #d45f4d;
    border-right: 3px solid #d45f4d;
    box-shadow: 20px -8px teal;
    cursor: pointer;
    transition: 2s;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    width: 415px;
  }


.space-card {
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    width: 450px;
    display: inline-block;
    margin: 10vh auto;
}

#space-card-2 {
    background-image: url("images/galaxy2.gif");
    background-size: cover;
    padding: 10px 0 40px 0;
}

#main-logo {
    width: 100px;
}

#title {
    text-shadow: 0px 0px 4px black;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: inherit;
    font-weight: 800;
    cursor: pointer;
}

.underline {
    border-bottom: 4px solid white;
}

.terms {
    cursor: pointer;
}
   
/* Challenge: create birthday gif using CSS.  Inheriting color and background from body property above */

.birthday-card, .space {
    border-top: 8px dotted #003049;
    border-radius: 5px;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 300px;
    background-image: url("images/gold-2.png");
    background-size: cover;
    
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gold.jpeg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/dog.gif");
    cursor: pointer;
}

#gift-img-hot:hover {
    background-image: url("images/hot-dog.gif");
    cursor: pointer;
}

#gift-img-genius:hover {
    background-image: url("images/be-happy.gif");
    cursor: pointer;
}

#gift-img-badass:hover {
    background-image: url("images/super-dog.gif");
    cursor: pointer;
}

#gift-img-cheers:hover {
    background-image: url("images/scuby.gif");
    cursor: pointer;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}