body {
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-align: center;

}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 20vh auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #223943;
    color: #ffdfd0;
    border-bottom: 6px solid #d45f4d;
    border-right: 3px solid #d45f4d;
    box-shadow: 20px -8px teal;
    cursor: pointer;
    transition: 2s;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    width: 415px;
  }


.space-card {
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    width: 450px;
    display: inline-block;
}

#space-card-2 {
    background-image: url("images/galaxy2.gif");
    background-size: cover;
    padding: 10px 0 40px 0;
}

#main-logo {
    width: 100px;
}

#title {
    text-shadow: 0px 0px 4px black;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: inherit;
    font-weight: 800;
    cursor: pointer;
}

.underline {
    border-bottom: 4px solid white;
}

.terms {
    cursor: pointer;
}
   